<h1>Welcome to {{title}}</h1>
<p>Graph for {{showSymbol.name}}</p>
<script>document.addEventListener(
	'DOMContentLoaded',printTheChart('{{showSymbol.symbol}}'),
	false
);</script>
<a name="" id="" class="btn btn-primary" href="javascript:history.back()" role="button">Return</a>
<canvas id="stock-chart"></canvas>
